[submodule ".registry"]
	path = .registry
	url = https://github.com/chrislongros/chrislongros.r-universe.dev
	branch = HEAD
[submodule "ankiR"]
	path = ankiR
	url = https://github.com/chrislongros/ankiR
	branch = v0.6.0
[submodule "rfsrs"]
	path = rfsrs
	url = https://github.com/open-spaced-repetition/r-fsrs
	branch = master
